html {
    background-color:black;
    
    
}
button{
    color: white;
    font-size: 15px;
    font-family: "Lucida Console", Courier, monospace;

}


#cockroach {
    width: 100px;
    height: 100px;
    background-color: black;
    border: solid 1px rgb(230, 221, 221);
    border-radius: 50%
    
}
#foot{
    width: 100px;
    height: 100px;
    background-color:#080102;
    border: solid 1px white;
    border-radius: 50%
}
#nuclear{
    width: 100px;
    height: 100px;
    background-color:#080102;
    border: solid 1px white;
    border-radius: 50%
}
#restart{
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid 1px white;
    border-radius: 50%

}


.buttons{
    position: relative;
    top:270px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly; 
   /* super cool style */ 
   
    background-color: white;
    border: solid 1px rgb(241, 231, 231);
    border-radius: 50%;  
    
}

/*when I say position is fixed, it's not web responsive. That's a problem */
.restart{
    position: absolute;
    top: 170px;
    
}
#liveText{
    position: relative;
    display: flex;
    justify-content: center;
    top:280px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color:white;
}
#scoreNumbers{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color:white;
}
#playerLive{
    position:relative;
    top:15px;
    
}
#computerLive{
    position:relative;
    top:15px;
}
